body {
  background: rgb(25,25,25);
  font-weight: 900;
}

.console-box {
  width: 80%;
  max-width: 920px;
  max-height: 100vw;
  margin: 50px auto;
  padding-left: 0; 
  font-family: Monospace, sans-serif;
  background: #404041;
  border-radius: 5px;
  overflow: auto;
  counter-reset: codeline; 
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

.console-box > li {
  position: relative;
  margin-left: 40px; 
  padding: 1px 10px;
  list-style: none;
}

.console-box > li:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  left: -40px;
  padding-top: 1px;
  padding-right: 8px;
  text-align: right;
  background: #2e2e2f;
  color: #59595b; 
  content: counter(codeline);
  counter-increment: codeline;
}

.console-box > li:first-child {
  padding-top: 16px;
}

.console-box > li:first-child:before {
  padding-top: 16px;
}

.console-box > li:last-child {
  padding-bottom: 16px;
}

.console-box > li ul {
  padding-left: 20px;
}

.console-box > li ul li {
  list-style: none;
}

.console-box > li  pre {
  margin: 0;
}

/* Monokai color pattern */
.monokai-black {
  color: #000000;
}

.monokai-hardgrey {
  color: #272822;
}

.monokai-darkgrey {
  color: #3B3A32;
}

.monokai-grey {
  color: #49483E;
}

.monokai-lightgrey {
  color: #90907C;
}

.monokai-white {
  color: #F5F5EC;
}

.monokai-yellow {
  color: #FFE792;
}

.monokai-orange {
  color: #FD971F;
}

.monokai-red {
  color: #F92672;
}

.monokai-violet {
  color: #AE81FF;
}

.monokai-teal {
  color: #66D9EF;
}

.monokai-green {
  color: #A6E22E;
}








/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9E9E9E; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #616161; 
}














/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.nano { background: #bba; width: 500px; height: 100px; }
.nano .content { padding: 10px; }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }
